<form class="form-registro">
    <div>
        <app-label-registro [labelText]="'Curso:'"></app-label-registro>
        <app-input-registro [valorInput]="'Taller de HTML'"></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Nombre:'"></app-label-registro>
        <app-input-registro></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Apellido:'"></app-label-registro>
        <app-input-registro></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Email:'"></app-label-registro>
        <app-input-registro></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Teléfono:'"></app-label-registro>
        <app-input-registro></app-input-registro>
    </div>
</form>