<form [class]="'form-registro form-registro'+cardNumber">
    <div>
        <app-label-registro [labelText]="'Curso:'"></app-label-registro>
        <app-input-registro  [colorInput]='cardNumber' [valorInput]="curso"></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Nombre:'"></app-label-registro>
        <app-input-registro name="nombre" [colorInput]='cardNumber' ></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Apellido:'"></app-label-registro>
        <app-input-registro [colorInput]='cardNumber' ></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Email:'"></app-label-registro>
        <app-input-registro [colorInput]='cardNumber' ></app-input-registro>
    </div>
    <div>
        <app-label-registro [labelText]="'Teléfono:'"></app-label-registro>
        <app-input-registro [colorInput]='cardNumber' ></app-input-registro>
    </div>
    <app-btn-registro class="btnRegistro" [cardNumber]="cardNumber"></app-btn-registro>
</form>