@use '../theme/colores' as colores;

.card{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 1px solid ;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;

    &-boton{
        padding: 5px 30px;
        border-radius: 10px;
        color: #fff;
    }

    
    @for $i from 1 through length(colores.$colores){
        $color:nth(colores.$colores, $i);
        &#{$i}-titulo{
            color: $color;
        }
        &#{$i}-boton{
            background-color: $color;
        }

        &#{$i}{
            border: 2px solid $color;
            box-shadow: 0 0 10px rgba($color, 0.7)
        }

        
    }

}



