@use '../theme/colores' as colores;

.header{
    background-color: colores.$color-primario;
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    height: 10vh;
    padding: 10px;
    align-items: center;

    &-linea{
        height: 100%;
        width: 10px;
    }

    &-enlace{
        cursor: pointer;
    }

    &-enlace::before{
        content: '';
        display: inline-block;
        width: 2px;
        height: 3em; 
        background-color: #fff; 
        margin: 0 0.5em; 
        vertical-align: middle

    }
}
