.section-registro{
    height: 80vh;
    margin: 0 auto;
    width: 75vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div:nth-child(1){
        display: flex;
        align-items: center;
        gap: 20px;
    }
}